/* 改变主题色变量 */
$--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";



.el-form-item__label{
  font-size: 3px;
}

.mycar.el-carousel .el-carousel__container{
  height: 150px;
}
.el-carousel__indicators el-carousel__indicators--outside{
  display: none;
}
.el-carousel__indicator{
  display: none;
}
